.top-btm {
  position: relative;
}

.icon {
  position: fixed;
  bottom: 40px;
  right: 25px;
  background-color: #551B54;
  border: 2px solid #fff;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  color: #fff;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

.icon:hover {
  animation: none;
  background: #fff;
  color: #551B54;
  border: 2px solid #551B54;
}
