.top-btm {
  position: relative;
}

.icon {
  position: fixed;
  bottom: 40px;
  right: 25px;
  background-color: var(--tetradic);
  border: 2px solid var(--white);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  color: var(--white);
  cursor: pointer;
  transition: all .5s ease-in-out;
}

.icon:hover {
  animation: none;
  background: var(--white);
  color: var(--tetradic);
  border: 2px solid var(--tetradic);
}
